*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.bg{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(89, 8, 119), rgb(113, 20, 175), rgb(61, 23, 125),
    rgb(35, 33, 163), rgb(61, 23, 125), rgb(113, 20, 175), rgb(89, 8, 119));
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, rgb(106, 8, 119), rgb(113, 20, 175), rgb(76, 20, 206),
     rgb(51, 167, 193),rgb(76, 20, 206),rgb(113, 20, 175), rgb(106, 8, 119));
    border-image-slice: 1;
}

#header{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 7px double black;
    position: relative;
}

#title{
    font-family:Brush Script MT;
    font-size: 3em;
    color: white;
    position: absolute;
}

#titleBg{
    width: 12em;
}

#howToHeader{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#howToTitle{
    font-family:Lucida Handwriting;
    font-size: 1.5em;
    color: black;
    position: absolute;
}

#subTitleBg{
    width: 15em;
}

#howToContent{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#howToText{
    font-family:Papyrus;
    font-size: 1.1em;
    color: white;
    text-align: center;
}

#footer{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 7px double black;
}

#levelsButton{
    height: 3.5em;
    width: 8em;
    background-color: rgb(80, 20, 117);
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: white;
    border: 2px solid black;        
}

/* MEDIA QUERIES */
/* small devices (425px and up) */
@media (min-width: 425px) {
    #howToText{font-size: 1.3em;}
}

/* medium devices (768px and up) */
@media (min-width: 768px) {
    #title{font-size: 4em;}   
    #titleBg{width: 16em;}
    #howToTitle{font-size: 2em;}
    #subTitleBg{width: 18em;}
    #howToText{font-size: 1.5em;;}
}

/* large devices (1024px and up) */
@media (min-width: 1024px) {
    #title{font-size: 4.5em;}
    #titleBg{width: 18em;}
    #howToTitle{font-size: 2.5em;}
    #subTitleBg{width: 22em;}
    #howToText{font-size: 2em;}
    #levelsButton{font-size: 1.6em;}
}
