* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.bg {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(89, 8, 119), rgb(113, 20, 175), rgb(61, 23, 125),
    rgb(35, 33, 163), rgb(61, 23, 125), rgb(113, 20, 175), rgb(89, 8, 119));
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, rgb(106, 8, 119), rgb(113, 20, 175), rgb(76, 20, 206),
     rgb(51, 167, 193), rgb(76, 20, 206), rgb(113, 20, 175), rgb(106, 8, 119));
    border-image-slice: 1;
}

#header {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 7px double black;
    position: relative;
}

#title {
    font-family: Brush Script MT;
    color: white;
    position: absolute;
    font-size: 3.5em;
}

#titleBg {
    width: 10em;
}

#subHeader {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#subTitle {
    font-family: Brush Script MT;
    color: black;
    position: absolute;
    font-size: 2.5em;
}

#subTitleBg {
    width: 10em;
}

#levelsContainer {
    height: 65%;
    width: 100%;
    padding: 4% 10%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.levels {
    height: 3em;
    width: 3em;
    background-color: rgb(80, 20, 117);
    color: white;
    font-size: 1em;
    font-family: Lucida Handwriting;
    border: 2px solid black;
}

#footer {
    height: 10%;
    display: flex;
    align-items: center;
    border-top: 7px double black;
    padding-top: 1%;
}

#back {
    height: 80%;
    width: 25%;
    margin-left: 12%;
    background-color: rgb(80, 20, 117);
    color: white;
    font-size: 1.1em;
    font-family: Lucida Handwriting;
    border: 2px solid black;
}

/* MEDIA QUERIES */
/* small devices (426px and up) */
@media (min-width: 425px) {
    #title {font-size: 3.5em;}
    #titleBg {width: 12em;}
    #subTitle {font-size: 3em;}
    #subTitleBg {width: 10em;}
    #levelsContainer {height: 62%;}
    .levels { height: 3em; width: 3em; font-size: 1.3em;}
    #footer {height: 13%;}
    #back {height: 3em; width: 7em; font-size: 1.2;}
}

/* medium devices (768px and up) */
@media (min-width: 768px) {
    #title {font-size: 4em;}
    #titleBg{width: 13em;}
    #subTitle {font-size: 3.3em;}
    #levelsContainer {padding-left: 15%;padding-right: 15%;}
    .levels {height: 4em; width: 4em;}
    #back {height: 2.5em; width: 8em; font-size: 1.4em;}
}

/* large devices (1024px and up) */
@media (min-width: 1024px) {
    #title {font-size: 5em;}
    #titleBg {width: 15em;}
    #subTitle {font-size: 4em;}
    #subTitleBg {width: 14em;}
    #levelsContainer {height: 60%;}
    .levels {height: 6em; width: 6em; font-size: 1.3rem;}
    #footer {height: 15%;}
    #back {height: 3.5em; width: 8em; font-size: 1.5em;}
}
