*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(89, 8, 119), rgb(113, 20, 175), rgb(61, 23, 125),
    rgb(35, 33, 163),rgb(61, 23, 125),rgb(113, 20, 175), rgb(89, 8, 119));
    background-repeat: no-repeat;
    /* background-position: fixed; */
    background-size: cover;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, rgb(106, 8, 119), rgb(113, 20, 175), rgb(76, 20, 206),
     rgb(51, 167, 193),rgb(76, 20, 206),rgb(113, 20, 175), rgb(106, 8, 119));
    border-image-slice: 1;
}

#header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 7px double black;
    position: relative;
}

#title{
    font-family:Brush Script MT;
    font-size: 3.5em;
    color: white;
    position: absolute;
}

#titleBg{
    width: 11em;
}

#subHeader{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#subTitleBg{
    width: 10em;
}

#level{
    font-family: Brush Script MT;
    font-size: 2em;
    color: black;
    position: absolute;
}

#keyContainer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.key{
    height: 4.5em;
    width: 4.5em;
    border-radius: 3em;
    margin-left: 2%;
    background-color: rgb(80, 20, 117);
    font-size: 20px;
    font-family: Lucida Handwriting;
    border: 2px solid black;
}

#pressedContainer{
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pressed{
    font-size: 1em;
    font-weight: 600;
    font-family: Lucida Handwriting;
    position: absolute;
}

#pressedBg{
    width: 20em;
    position: relative;
}

#footer{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 7px double black;
}

#replay, #enter, #back, #next{
    height: 3.5em;
    width: 8em;
    background-color: rgb(80, 20, 117);
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-size: 0.8em;
    font-family: Lucida Handwriting;
    border: 2px solid black;
}

/* MEDIA QUERIES */
/* small devices (425px and up) */
@media (min-width: 425px) {       
    #title{font-size: 3.5em;}
    #titleBg{width: 13em;}
    #subTitleBg{width: 11em;}
    #level{font-size: 2.5em;}
    #keyContainer{height: 47%;}
    .key{height: 5em; width: 5em;}
    #pressedContainer{height: 13%;}
    #pressedBg{width: 25em;}
    #pressed{font-size: 1.2em;}
}

/* medium devices (768px and up) */
@media (min-width: 768px) {
    #title{font-size: 4em;}
    #titleBg{width: 16em;}
    #subTitleBg{width: 14em;}
    #subHeader{height: 12%;}
    #level{font-size: 3em;}
    #keyContainer{height: 40%;}
    .key{height: 6em; width: 6em;}
    #pressedContainer{height: 18%;}
    #pressed{font-size: 1.5em;}
    #pressedBg{width: 37em;}
    #replay, #enter, #back, #next{height: 4em; width: 10em; font-size: 1em;}
}

/* large devices (1200px and up) */
@media (min-width: 1200px) {    
    #title{font-size: 4em;}
    #titleBg{width: 17em;}
    #subTitleBg{width: 16em;}
    #level{font-size: 3.5em;}
    #keyContainer{height: 45%; width: 100%;}
    .key{height: 6em; width: 6em; border-radius: 3.5em; font-size: 1em;}
    #pressedContainer{ height: 15%;}
    #pressed{font-size: 1em;}
    #pressedBg{width: 35em;}
    #replay, #enter, #back, #next{height: 3.5em; width: 8em; font-size: 1.2em;}
}