*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilroy'; */
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.bg{
    height: 100%;
    width: 100%;
    /* background-image: url('/Assets/bg_image.jpg'); */
    background-image: linear-gradient(to bottom right, rgb(33, 98, 227), rgb(125, 145, 186), rgb(37, 77, 158), rgb(33, 98, 227),
    rgb(96, 105, 224), rgb(130, 130, 212), rgb(54, 46, 160));
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, rgb(106, 8, 119), rgb(113, 20, 175), rgb(76, 20, 206),
     rgb(51, 167, 193),rgb(76, 20, 206),rgb(113, 20, 175), rgb(106, 8, 119));
    border-image-slice: 1;
}

#header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 7px double rgb(30, 30, 123);
    position: relative;
}

/* MEDIA QUERIES */
/* Tablet screen size (max-width: 768px) */
@media (max-width: 768px) {
    #title{
        font-family:Brush Script MT;
        font-size: 60px;
        color: white;
        position: absolute;
    }
    
    #titleBg{
        width: 200px;
    }
    
    #subHeader{
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
    
    #subTitle{
        font-family:Brush Script MT;
        font-size: 50px;
        color: white;
    }
    
    #levelsContainer{
        margin-top: 3%;
        height: 60%;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .levels{
        height: 70px;
        width: 70px;
        background-color: cadetblue;
        color: white;
        font-size: 20px;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }
    
    #footer{
        height: 10%;
        display: flex;
        border-top: 7px double rgb(30, 30, 123);
        padding-top: 1%;
    }
    
    #back{
        height: 60px;
        width: 70px;
        margin-left: 20%;
        background-color: cadetblue;
        color: white;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }
    
    
}

/* Mobile screen size (max-width: 480px) */
@media (max-width: 480px) {   
    #title{
        font-family:Brush Script MT;
        font-size: 50px;
        color: white;
        position: absolute;
    }
    
    #titleBg{
        width: 150px;
    }
    
    #subHeader{
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
    
    #subTitle{
        font-family:Brush Script MT;
        font-size: 35px;
        color: white;
    }
    
    #levelsContainer{
        margin-top: 3%;
        height: 65%;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .levels{
        height: 50px;
        width: 50px;
        background-color: cadetblue;
        color: white;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }
    
    #footer{
        height: 10%;
        display: flex;
        align-items: center;
        border-top: 7px double rgb(30, 30, 123);
        padding-top: 1%;
    }
    
    #back{
        height: 40px;
        width: 55px;
        margin-left: 20%;
        background-color: cadetblue;
        color: white;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }    
}

/* Large screen (min-width: 1200px, desktop size) */
@media (min-width: 1200px) {
    #title{
        font-family:Brush Script MT;
        font-size: 80px;
        color: white;
        position: absolute;
    }
    
    #titleBg{
        width: 300px;
    }
    
    #subHeader{
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
    
    #subTitle{
        font-family:Brush Script MT;
        font-size: 60px;
        color: white;
    }
    
    #levelsContainer{
        margin-top: 3%;
        height: 60%;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .levels{
        height: 80px;
        width: 80px;
        background-color: cadetblue;
        color: white;
        font-size: 20px;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }
    
    #footer{
        height: 10%;
        display: flex;
        align-items: center;
        border-top: 7px double rgb(30, 30, 123);
        padding-top: 1%;
    }
    
    #back{
        height: 60px;
        width: 100px;
        margin-left: 20%;
        background-color: cadetblue;
        color: white;
        font-size: 20px;
        font-family: Lucida Handwriting;
        border: 2px solid rgb(30, 30, 123);
    }
    
    
}
